$container_width: 100%;
$inner_conatiner_width: 60%;


/***************************
  COLORS
****************************/

$main_bg: #FE93FF;
$body_bg: #FFB5D6;

/***************************
  SHADOW
****************************/

$shadow: 10px 0px 0px #888888;
