.nav_content {
 width: 60%;
 height: 5vh;
 background-color: #FFB5D6;
 display: flex;
 justify-content: center;
 align-items: center;
}

.nav_content ul {
 list-style-type: none;
 display: flex;
 flex-direction: row;
 margin: 0px;
}

.nav_content ul li{
 padding-left: 10px;
}
